$background: #262121;
$background2: #000000;
$text: #fff;
$dpink: #FF90BC;
$lpink: #FFC0D9;


//have a look later to see if this is set up correctly... I think either front-end oblig og idg oblig 2
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    box-sizing: border-box;
}

main {
    position: relative;
}

h1, 
#bigtitle {
    margin: 3vw;
    font-size: 3vw;
}

.drawing { 
    &__top {
        width: 12vw;
        height: 12vw;
        background: $dpink;
        position: absolute;
        border-radius: 0 0 0 90%;
        top: 0;
        right: 0;
        z-index: 2;
    
        &--under {
            position: absolute;
            width: 15vw;
            height: 15vw;
            background: $lpink;
            border-radius: 0 0 0 90%;
            top: -3vw;
            right: 0vw;
        }
    }

    &__bottom{
        width: 12vw;
        height: 12vw;
        background: $dpink;
        position: absolute;
        border-radius: 0 90% 0 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        &--under{
            position: absolute;
            width: 15vw;
            height: 15vw;
            background: $lpink;
            border-radius: 0 90% 0 0; 
            bottom: -5vw;
            left: 0;
        }
    }
}

.flex {
    display: flex;
}

.title {
    margin-left: 7.5vw;
}

.section {
    margin-top: 5%;
    margin-bottom: 5%;
    color: $text;
    background: $background;
    padding: 5vw;
    border-radius: 10px;
    &__div{            
        &--flex{
            display: flex;
            margin-left: 5%;
        }
    }

    &__title{
    margin-bottom: 3vw;  
     &--reflection{
        margin-bottom: 1vw;
     } 
    }

    &__article{
        &--new, &--old{
            margin-left: 0;
        }
        &--reflection{
            margin-top: 5%;
            margin-bottom: 5%;
            max-width: 40vw;
            margin-left: 3vw;
        }
        &--article{
            margin-top: 2%;
            margin-bottom: 2%;
        }
        &--article h3{
            margin-bottom: 0.5vw;
        }
    }
}

a {
    color: $text;
}