@charset "UTF-8";
/* whole page style */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 3vw;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p,
li {
  font-size: 2vw;
}

/* slide 1 */
header {
  width: 100vw;
  height: 70vh;
}

.top {
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFFFFF 60%, #5177A7 90%);
  margin-top: 15%;
  margin-bottom: 10vh;
}
.top img {
  position: absolute;
  top: -100vh;
  animation: clothing-rain 15s linear;
}
.top__title h1, .top p {
  background: url(img/desert.svg); /* background img of the first slide */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 6vw;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  color: #000000;
  position: relative;
  margin-top: 10%;
  z-index: 3;
}
.top__title p {
  font-size: 5vw;
  margin-top: 5%;
  margin-bottom: 25%;
}

/* slide 2 */
.waste {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100%;
  background: linear-gradient(#B19782 95%, rgb(131, 118, 100));
}
.waste__image img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10%;
  z-index: 1;
}
.waste__image--tractor {
  position: absolute;
  z-index: 7;
  top: 8vh;
  left: 1vw;
  animation: move-tractor 25s linear infinite;
}
.waste__image--clouds {
  position: absolute;
  z-index: 4;
  top: 2vh;
  left: 1vw;
}

.waste p,
.city p {
  position: absolute;
  z-index: 5;
  margin-left: 90px;
  padding: 10px;
  max-width: 50%;
  color: #000000;
}

.text__box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

/* slide 3 */
.city {
  position: relative;
  width: 100vw;
  height: 100%;
  background: linear-gradient(rgb(131, 118, 100), #FFFFFF, rgb(131, 118, 100));
}
.city__image img {
  z-index: 1;
}
.city__image--smoke {
  position: absolute;
  opacity: 90%;
  z-index: 4;
  top: 0.5vh;
  right: 1vw;
  animation: pulse 5s infinite;
}

.kid1 {
  position: absolute;
  z-index: 5;
  top: 1vw;
  right: 1vw;
}

/* slide 4 */
.brands {
  background: linear-gradient(rgb(131, 118, 100) 10%, #FFFFFF 80%, #A5C6F0 90%);
  height: 100%;
  width: 100vw;
  font-size: 20px;
  /* &__title {
  //    font-size: 2.5vw;

    }*/
}
.brands__list {
  padding: 5%;
  text-align: center;
}
.brands img {
  max-width: 20%;
  padding: 5%;
}

/* slide 5 */
.actions {
  background-image: linear-gradient(#A5C6F0, #FFFFFF);
  width: 100vw;
  font-size: 20px;
  position: relative;
}
.actions__list {
  text-align: center;
  padding-top: 3%;
}
.actions__list ul {
  text-align: start;
  max-width: 60%;
  font-size: 1.3vw;
  margin-top: 4vw;
}
.actions__list ul li {
  margin: 20px;
}
.actions__list ul li::marker {
  content: "👕 ";
}
.actions img {
  max-width: 25vw;
  max-height: 25vw;
  opacity: 0;
  transition: opacity 15s ease;
}

.conclusion p {
  margin-left: 3vw;
  margin-top: 10vw;
  font-weight: bold;
  max-width: 80%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.animate-in {
  opacity: 1 !important;
}

/*animation clothing rain*/
@keyframes clothing-rain {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(190vh);
  }
}
/*animation clouds*/
@keyframes drift-cloud1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.cloud1,
.cloud2,
.cloud4 {
  animation: drift-cloud1 140s linear infinite;
}

@keyframes drift-cloud3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
.cloud3 {
  animation: drift-cloud3 125s linear infinite;
}

/*animation tractor*/
@keyframes move-tractor {
  0% {
    transform: translateX(-50%);
  }
  40% {
    transform: translateX(40px);
  }
  60% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*animation tractor shovel*/
@keyframes dump {
  40% {
    transform: rotate(0deg);
  }
  44% {
    transform: rotate(40deg);
  }
  56% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
.shovel {
  animation: dump 25s infinite;
  transform-origin: 588.26px 561.81px;
}

/*animation tractor clothes*/
@keyframes dump2 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: rotate(0deg);
    opacity: 1;
  }
  44% {
    transform: rotate(40deg);
    opacity: 1;
  }
  56% {
    transform: rotate(40deg);
    opacity: 0;
  }
  60% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
.shirt-purple,
.shirt-brown,
.shirt-brown2,
.shirt-green,
.shirt-red,
.pants-blue,
.pants-darkblue,
.pants-lightblue {
  animation: dump2 25s infinite;
  transform-origin: 588.26px 561.81px;
}

/*animation smoke*/
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
/*animation kid*/
@keyframes move-needle {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(3px);
  }
}
.sewing-needle {
  animation: move-needle 0.5s linear infinite alternate;
}

@keyframes sew {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(15px);
  }
}
.sewing-sweater {
  animation: sew 4s linear infinite alternate;
}

@media (prefers-reduced-motion) {
  .sewing-sweater {
    animation: sew 10s linear infinite alternate;
  }
  .sewing-needle {
    animation: move-needle 1.2s linear infinite alternate;
  }
  .city__image--smoke {
    animation: pulse 15s infinite;
  }
  .city__image--tractor {
    animation: move-tractor 40s linear infinite;
  }
  .top img {
    position: fixed;
    top: 0;
    animation: clothing 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*  animation: clothing 15s linear;*/
  }
  @keyframes clothing {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}/*# sourceMappingURL=style-oblig-3-new.css.map */