$sandy: #B19782;
$polluty: rgb(131, 118, 100);
$white: #FFFFFF;
$black: #000000;
$blueish: #5177A7;
$lblue: #A5C6F0;
$sky: #466F7F;
$muddy: #534E56;

/* whole page style */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* the content is "clipped" */
}
/*
html {
  scroll-snap-type: y mandatory; // viewport of the scroll container must snap to a snap position if it isn't currently scrolled /
}

section {
  scroll-snap-align: start; // only one scroll is needed to go to the next section /
} */

h2 {
  font-size: 3vw;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p,
li {
  font-size: 2vw;
}

/* slide 1 */
header {
  width: 100vw;
  height: 70vh;
}

.top {
//  position: absolute;
  width: 100%;
  height: 100%;
//  scroll-snap-align: start;
  background: linear-gradient($white 60%, $blueish 90%);
  margin-top: 15%;
  margin-bottom: 10vh;

  & img {
    position: absolute; //makes clothes fall from top
    top: -100vh;
    animation: clothing-rain 15s linear;
    /*top: 50vh;*/
  }

  &__title h1, p {
    background: url(img/desert.svg); /* background img of the first slide */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 6vw;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: $black; 
    position: relative;
    margin-top: 10%;
    z-index: 3;
  }

  &__title p {
    font-size: 5vw;
    margin-top: 5%;
    margin-bottom: 25%;
  }
}

/* slide 2 */
.waste {
  position: relative;
  margin: auto;
  //margin-top: 5%;
//  scroll-snap-align: start;
//  overflow: hidden;
  width: 100vw;
  height: 100%;
//  object-fit: cover;
  background: linear-gradient($sandy 95%, $polluty);

  &__image img {
    position: relative; //removing the absolute position makes the tractor disappear
    object-fit: cover;
    margin-bottom: 10%;
    z-index: 1;
  }

  &__image {

    &--tractor {
      position: absolute; 
      z-index: 7;
      top: 8vh;
      left: 1vw;
      animation: move-tractor 25s linear infinite;
    }

    &--clouds {
      position: absolute;
      z-index: 4;
      top: 2vh;
      left: 1vw;
    }
  }
}

.waste p,
.city p {
  position: absolute;
  z-index: 5;
  margin-left: 90px;
  padding: 10px;
  max-width: 50%;
//  font-size: 2vw;
  color: $black;
}

.text__box {
  background-color: rgb(255 255 255 / 30%);
  border-radius: 15px;
}

/*
.clouds {
  position: absolute;
}

.tractor {
  position: absolute;
  z-index: 1;
} */

/* slide 3 */
.city {
  position: relative;
//  scroll-snap-align: start;
//  overflow: hidden; MAKES THE IMAGES CUT WEIRD
  width: 100vw;
//  height: 100vh;
  height: 100%;
  //margin-bottom: 5%;
//  object-fit: cover;
  background: linear-gradient($polluty, $white, $polluty);

  &__image img { //is targeting the city image
//    position: absolute;
    z-index: 1;
  }

  &__image {

    &--smoke {
      position: absolute;
      opacity: 90%;
      z-index: 4;
      top: 0.5vh;
      right: 1vw;
      animation: pulse 5s infinite;
    }
  }
}

.kid1 {
  position: absolute;
  z-index: 5;
  top: 1vw;
  right: 1vw;
}

/* slide 4 */
.brands {
  background: linear-gradient($polluty 10%, $white 80%, $lblue 90%);
  height: 100%;
  width: 100vw;
  font-size: 20px;

  &__list {
    padding: 5%;
    text-align: center;
  }

  & img {
    max-width: 20%;
    padding: 5%;
  }

 /* &__title {
//    font-size: 2.5vw;

  }*/
}

/* slide 5 */
.actions {
  background-image: linear-gradient($lblue, $white);
//  height: 100vh;
  width: 100vw;
  font-size: 20px;
  position: relative;

  &__list {
    text-align: center;
    padding-top: 3%;
//    justify-content: space-around;

    & ul {
      text-align: start;
      max-width: 60%;
      font-size: 1.3vw;
      margin-top: 4vw;
//      padding-top: 3vw;
//      justify-content: space-around;

      & li {
        margin: 20px;
      }

      & li::marker{
        content:"👕 ";
      }
    }
  }

  & img {
    max-width: 25vw;
    max-height: 25vw;
//    margin-left: 70%;
//    margin-top: 11%;
//    position: absolute;
    opacity: 0;
    transition: opacity 15s ease;
  }
}

.conclusion p {
  margin-left: 3vw;
  margin-top: 10vw;
  font-weight: bold;
  max-width: 80%;
  
}

.flex{
  display: flex;
//  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/*
.second-hand {
//  position: absolute;
//  left: 0;
  width: 10vw;
}*/

.animate-in {
  opacity: 1 !important;
}

/*animation clothing rain*/
@keyframes clothing-rain {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(190vh);
  }
}

/*animation clouds*/
@keyframes drift-cloud1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud1,
.cloud2,
.cloud4 {
  animation: drift-cloud1 140s linear infinite;
}

@keyframes drift-cloud3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.cloud3 {
  animation: drift-cloud3 125s linear infinite;
}

/*animation tractor*/
@keyframes move-tractor {
  0% {
    transform: translateX(-50%);
  }
  40% {
    transform: translateX(40px);
  }
  60% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*
.tractor {
  animation: move-tractor 25s linear infinite;
}*/

/*animation tractor shovel*/
@keyframes dump {
  40% {
    transform: rotate(0deg);
  }
  44% {
    transform: rotate(40deg);
  }
  56% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(0deg);
  }
}

.shovel {
  animation: dump 25s infinite;
  transform-origin: 588.26px 561.81px;
}

/*animation tractor clothes*/
@keyframes dump2 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: rotate(0deg);
    opacity: 1;
  }
  44% {
    transform: rotate(40deg);
    opacity: 1;
  }
  56% {
    transform: rotate(40deg);
    opacity: 0;
  }
  60% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.shirt-purple,
.shirt-brown,
.shirt-brown2,
.shirt-green,
.shirt-red,
.pants-blue,
.pants-darkblue,
.pants-lightblue {
  animation: dump2 25s infinite;
  transform-origin: 588.26px 561.81px;
}

/*animation smoke*/
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

/*
.smoke {
  animation: pulse 5s infinite;
}*/

/*animation kid*/
@keyframes move-needle {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(3px);
  }
}

.sewing-needle {
  animation: move-needle 0.5s linear infinite alternate;
}

@keyframes sew {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(15px);
  }
}

.sewing-sweater {
  animation: sew 4s linear infinite alternate;
}

@media (prefers-reduced-motion) {
 
  .sewing-sweater {
    animation: sew 10s linear infinite alternate;
  }

  .sewing-needle {
    animation: move-needle 1.2s linear infinite alternate;
  }

  .city__image--smoke {
    animation: pulse 15s infinite;
  }

  .city__image--tractor {
    animation: move-tractor 40s linear infinite;
  }

  .top img {
    position: fixed;
    top: 0;
    animation: clothing 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  /*  animation: clothing 15s linear;*/
  }

  @keyframes clothing {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}