// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

//screenshot 2
$white: #ffffff;
$lightblue: #f3f9ff;
$nightblue: #00327c;
$lightgray: #dddddd;
$fairgray:#f3f6f8;
$darkblue: #0063FB;
$blue: #06BEFB;
$stone: #767676;
$licorice: #464646;
$sardine: #C3CCD9;

.navbar {
    &__list{
    list-style: none;
    list-style-type: none;
    display: flex;
}
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $fairgray;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: center;
  align-items: center ;
  max-width: 500px;
  height: 400px;
  padding: 60px;
  background-color: $lightblue;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  &__card {
    background-color: $white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px $stone;
    height: 612px;
  }
  &__card__topbar{
    display: flex;
    align-items: center;
    max-width: 400px;
    height: auto;
    justify-content: space-between;
    height: 86px;
    &__logo__finn{
      max-width: 40px;
      height: 18px;
    }
    &__logo__schibsted{
      max-width: 120px;
      height: 24px;
    }
  }
  &__form__titlebar{
    max-width: 386px;
    height: 32px;
    &__heading{
      font-size: 24px;
    }
  }
  &__form{
    &__input{
      background-color: $lightgray;
      color: $stone;
      border: none;
      border-bottom: 1px solid $licorice;
      font-size: 1em;
      width: 360px;
      height: 16px;
      padding: 27px 12px 10px;
      border-radius: 10px 10px 0px 0px;
    }
    &__necessary{
      margin: 5px 0px 10px 0px;
      font-size: 0.8em;
      color: $stone;
    }
    &__button{
      margin-top: 20px;
    &__forgot {
      font-size: 15.2px;
      border: none;
      background-color: $white;
      color: $darkblue;
      text-decoration: underline;
      margin: 20px 0px 20px 0px;
    }
    &__login{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: $darkblue;
      color: $white;
      font-size: 1.3em;
      margin-top: 60px;
      border: none;
      width: 384px;
      height: 13px;
      padding: 30px;
      border-radius: 5px;
      font-weight: bold;
    }
    &__login:hover{
      background-color: $nightblue;
    }
    &__new{    
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: $white;
      color:$darkblue;
      font-size: 1.3em;
      margin: 16px 0 0;
      border: none;
      width: 386px;
      height: 13px;
      padding: 30px;
      border-radius: 10px;
      font-weight: bold;
    }
    &__new:hover{
      box-shadow: 5px 5px 20px $stone;
    }
  }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 32px 16px 0;
  }
  &__bottom__links{
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: $stone;
  }
}